body {
    font-family: Arial, Helvetica, sans-serif;
}

.zone-verte {
    background-color: #36aa12;
    /* Couleur bleue */
    width: 100%;
    /* Hauteur de 100px */
    border-radius: 5px;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.description {
    align-items: center;
    text-align: center;
    flex: 1;
}

.description img {
    border-radius: 15px;
}

.description h3 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.bottom {
    background-color: #666;
    height: 35px;
    border-radius: 5px;
}

.bottom p {
    color: white;
    padding-top: 5px;
}

.back-arrow {
    font-size: 1.7em;
    text-decoration: none;
    color: white;
    background-color: #ff758c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    width: 100%;
    height: 60px;
    border-radius: 5px;
  }

  .back-arrow:hover {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    transform: scale(1.1);
}