body {
    font-family: Arial, Helvetica, sans-serif;
}

.carrousel {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
    padding: 16px;
    scroll-behavior: smooth;
    user-select: none;
    margin-top: 50px;
}

.carrousel::-webkit-scrollbar {
    height: 8px;
}

.carrousel::-webkit-scrollbar-thumb {
    background: #36aa12;
    border-radius: 4px;
    cursor: grab; /* Change cursor to grab */
}

.carrousel::-webkit-scrollbar-thumb:active {
    cursor: grabbing; /* Change cursor to grabbing when active */
}

.carte {
    flex: 0 0 auto;
    border: 1px solid #36aa12;
    border-radius: 8px;
    width: 200px;
    padding: 16px;
    text-align: center;
}

.carte img {
    max-width: 100%;
    border-radius: 8px;
}

.carte h3 {
    font-size: 1.2em;
    margin: 8px 0;
}

.carte button:hover {
    border: 2px solid red; /* Add a red border on hover */
}

.carte button {
    margin-top: 12px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #36aa12;
    color: white;
    cursor: pointer;
}

.carte button:hover {
    background-color: #36aa12;
}

.zone-verte {
    background-color: #36aa12;
    /* Couleur bleue */
    width: 100%;
    /* Prend toute la largeur */
    height: 50px;
    /* Hauteur de 100px */
    z-index: 3;
    border-radius: 5px;

    h1 {
        color: white;
        text-align: center;
        padding-top: 5px;
    }
}

.bottom {
    background-color: #666;
    height: 35px;
    border-radius: 5px;

    p {
        color: white;
        padding-top: 5px;
    }
}

@media (max-width: 600px) {
    .zone-verte {
        height: 100px;
    }

    .zone-verte h1 {
        padding-top: 0;
        padding-bottom: 5px;
    }
}